<p>Make a new car</p>

<%# <% post "/cars" %> %>
<form action="/cars" method=""POST>
  Make: <input type="text" name="make">
  Model: <input type="text" name="model">
  Year: <input type="text" name="year">
  <input type="submit" value="make new car">
</form>